$color1: #3E765B; // top menu background
$color2: #50836A; // flyout menu items border
$color3: #2A8556; // context menu hovered link
$color4: #119966; // link
$color5: #50AA7A; // context menu selection background
$color6: #62B68D; // header background
$color7: #75CF9F; // main/plus menu items hovered background
$color8: #9EC2B1; // autocomplete input border
$color9: #EEFDF5; // context menu items hovered background
$color10: #70CDA7; // journal link