
div.issue.priority-highest div.attributes div.priority.attribute div.value,
div.issue.priority-highest div.subject h3,
tr.priority-highest td.priority,
tr.priority-highest td.id a,
tr.priority-highest td.id a:hover,
tr.priority-highest td.subject a,
tr.priority-highest td.subject a:hover { color: #900; font-weight:bold; }

div.issue.priority-high2 div.attributes div.priority.attribute div.value,
div.issue.priority-high2 div.subject h3,
tr.priority-high2 td.priority,
tr.priority-high2 td.id a,
tr.priority-high2 td.id a:hover, 
tr.priority-high2 td.subject a,
tr.priority-high2 td.subject a:hover { color: #F00; }

div.issue.priority-high3 div.attributes div.priority.attribute div.value,
div.issue.priority-high3 div.subject h3,
tr.priority-high3 td.priority,
tr.priority-high3 td.id a,
tr.priority-high3 td.id a:hover, 
tr.priority-high3 td.subject a,
tr.priority-high3 td.subject a:hover { color: #FF5300; } 

div.issue.priority-lowest div.attributes div.priority.attribute div.value,
div.issue.priority-lowest div.subject h3,
tr.priority-lowest td.priority,
tr.priority-lowest td.id a,
tr.priority-lowest td.id a:hover, 
tr.priority-lowest td.subject a,
tr.priority-lowest td.subject a:hover { color: #8093F1; }