@import "colors";

#header .sidebar-toggle-button {
    display:block;
    position:absolute;
    bottom:0;
    right:6px;
    z-index:99;
    padding:5px 10px;
    color:#333;
    background-color:#EEEEEE;
    border-top-width:3px;
    border-top-style:solid;
    border-top-color: $color4;
    border-bottom:none;
    border-right:none;
    font-weight: bold;
}

#header .sidebar-toggle-button.closed {
    color:#FFF;
    border-top-color:#FFF;
    background-color: $color4;
}

@media screen and (max-width: 899px) {
    #header .sidebar-toggle-button { display: none; }
}