@import "colors";

#top-menu {
    background-color: $color1;
    padding: 6px 2px 2px 10px;
}

#top-menu a {
    margin-right: 12px;
}

#header {
    background-color: $color6;
}

a, a:link, a:visited {
    color: $color4;
}

#main-menu > ul > li > a:hover {
    background-color: $color7;
}

#main-menu > ul > li > a.selected {
    border-top: 3px solid $color4;
}

#main-menu ul li a.new-object {
    background-color: $color4;
    border-top: 3px solid #fff;
}

#main-menu .menu-children {
    border-right-color: $color7;
    border-bottom-color: $color7;
    border-left-color: $color7;
}

#main-menu .menu-children li a:hover {
    color: #fff;
    background-color: $color7;
}

input.autocomplete {
    border-color: $color8 !important;
}

#sidebar a.selected {
    background-color: $color6;
}

tr.group span.count {
    background: $color6;
}

.drdn-items > a:hover {
    background-color: $color7;
}

.pagination ul.pages li.current {
    background-color: $color6;
    border-color: $color6;
}

.pagination ul.pages li.page a:hover, .pagination ul.pages li.page a:active {
    color: $color4;
}

/* Try to fix project card overflow to the next column */
#projects-index ul.projects li.root {
    display: inline-block;
}

/* Sidebar toggler styles */
#header .sidebar-toggle-button {
    display:block;
    position:absolute;
    bottom:0;
    right:6px;
    z-index:99;
    padding:5px 10px;
    color:#333;
    background-color:#EEEEEE;
    border-top-width:3px;
    border-top-style:solid;
    border-top-color: $color4;
    border-bottom:none;
    border-right:none;
    font-weight: bold;
}

#header .sidebar-toggle-button.closed {
    color:#FFF;
    border-top-color:#FFF;
    background-color: $color4;
}

/* Issue grid styles by priority */
tr.priority-highest td.priority,
tr.priority-highest td.id a,
tr.priority-highest td.id a:hover,
tr.priority-highest td.subject a,
tr.priority-highest td.subject a:hover { color: #F00; font-weight:bold; }

tr.priority-high2 td.priority,
tr.priority-high2 td.id a,
tr.priority-high2 td.id a:hover, 
tr.priority-high2 td.subject a,
tr.priority-high2 td.subject a:hover { color: #F00; }

tr.priority-high3 td.priority,
tr.priority-high3 td.id a,
tr.priority-high3 td.id a:hover, 
tr.priority-high3 td.subject a,
tr.priority-high3 td.subject a:hover { color: #FF5300; } 

tr.priority-lowest td.priority,
tr.priority-lowest td.id a,
tr.priority-lowest td.id a:hover, 
tr.priority-lowest td.subject a,
tr.priority-lowest td.subject a:hover { color: #8093F1; }

/* Issue grid styles by status */
td.status span {
    border-radius: 4px;
    padding: 0 4px;
}

tr.status-1 td.status span {
    border: 1px solid #ccc;
    background: #fff;
}

tr.status-2 td.status span {
    border: 1px solid #090;
    background: #0c0;
    color: #fff;
}

/* Expand subject column */
tr.issue td.subject { width:100%; }