@media screen and (max-width: 899px) {
    #header {
        background-color: #62b68d;
    }

    .flyout-menu {
        background-color: #3e765b;
    }
    
    .flyout-menu h3 {
        border-top-color: #50836a;
        border-bottom-color: #50836a;
        background-color: #62b68d;
    }

    /* Sidebar toggler styles */    
    #header .sidebar-toggle-button { display: none; }
}
